nav {
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(99, 114, 130, 0.06),
        0 3px 6px rgba(27, 39, 51, 0.08);
    box-shadow: 0 1px 2px rgba(99, 114, 130, 0.06),
        0 3px 6px rgba(27, 39, 51, 0.08);
    height: auto;
    width: 100%;
}
nav ul {
    padding-bottom: 8px;
    padding-top: 8px;
    margin: 0;
}
nav .brand {
    font-size: 1.5rem;
    text-align: center;
}
nav li {
    display: inline;
    padding: 16px;
}
nav li.active a {
    color: rgba(0, 0, 0, 0.8) !important;
}
nav li a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8) !important;
}

footer {
    margin-bottom: 0;
}

#markdown-input {
    background: #efefef;
    color: #444;
    display: block;
    font-family: Menlo, monospace;
    font-size: 1rem;
    margin-bottom: .5rem;
    padding: 1rem;
    word-break: break-all;
    word-wrap: break-word;
}

.edit-view {
    max-width: none;
}

/* Uncomment for wider view */

/* .markdown-view {
    max-width: 1024px;
} */

/* END Uncomment for wider view */


/* Uncomment for Dark Mode */

/* 
body {
    background-color: #191b1f;
    color: #e8e8e9;
}

hr {
    background-color: #e8e8e9;
}

nav {
    background-color: #191b1f;
}

nav li.active a, a:hover, nav li a:hover {
    color: #e8e8e9 !important ;
}

a {
    color: #26a8ed;
}

table td, table th {
    border: 1px solid #e8e8e9;
}
*/

/* END Uncomment for Dark Mode */
